# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Our objectives are to be acquainted with:**
* Popular Data Science Languages
* Commonly used libraries in Data Science
* Examples of arithmetic expression evaluation in Python

Some of the popular languages used in Data Science are:
1. Python
2. Julia
3. R
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. PyCharm
2. Matplotlib
3. Scikit-learn
4. Keras
5. Seaborn

|Data Science Tools|
|------------------|
|Python|
|Tableau|
|Tensorflow|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
# This a simple arithmetic expression to multiply then add integers.

(3*4)+5

17

In [15]:
# Below we will convert 200 minutes to hours by diving by 60
x = 200  #Number of minutes we want to convert into hours
y = 60   #Number of minutes in one hour
x / y

3.3333333333333335

## Author
Andreas Amvrosiatos